/*
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/
h1,
h2,
h3 {
  color: #79a2d5 !important;
}

.fa {
  color: #79a2d5 !important;
}
h1.text-white,
h2.text-white,
h3.text-white {
  color: #ffffff !important;
}
.text-sky-400 {
  --tw-text-opacity: 1;
  color: rgb(56 189 248 / var(--tw-text-opacity));
}

.swiper-slide .s-fade-txt-top {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: FadeAni 0.5s ease 1s 1 normal both;
}

.swiper-slide .s-fade-txt-left-middle {
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: FadeAni 0.5s ease 1s 1 normal both;
}
.swiper-slide .s-fade-txt-bottom {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: FadeAni 0.5s ease 1s 1 normal both;
}
.swiper-slide .s-fade-txt-bottom-left {
  position: absolute;
  bottom: 0%;
  left: 30%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: FadeAni 0.5s ease 1s 1 normal both;
}

/* Move reCAPTCHA v3 badge to the left */

.grecaptcha-badge {
  width: 70px !important;
  overflow: hidden !important;
  right: 0px !important;
  top: 8em;
}

.grecaptcha-badge:hover {
  width: 256px !important;
}
