<div class="grid grid-cols-1 md:grid-cols-2 gap-2">
  <div><img src="/img/audit_page_image_2.jpg" /></div>
  <div>
    <br />
    <ul>
      <li>Audit Service Provider (ASP) provisionally accredited by The Center for Offshore Safety to perform SEMS audits</li>
      <ul>
        <li>COS <s>Accreditation</s> Certificate #1345</li>
        <li>SEMS Audit are completed in accordance with</li>
        <ul>
          <li>API Recommended Practice 75</li>
          <li>Title 30 of the Code of Federal Regulations Part 250</li>
        </ul>
      </ul>
    </ul>
  </div>
  <div><img src="/img/Audit_page_image_1.jpg" /></div>
  <div>
    <br />
    <ul>
      <li>Internal Audits</li>
      <ul>
        <li>Subpart O Well Control / Training System Audits</li>
        <li>Internal / Contractor Gap Analysis</li>
        <li>Process Safety Management Audits</li>
      </ul>
    </ul>
  </div>
</div>
