<div class="grid grid-cols-1 md:grid-cols-2 gap-2">
  <div><img src="/img/audit_page_image_2.jpg" /></div>
  <div>
    <br />
    <ul>
      <li>Audit Service Provider (ASP) accredited by The Center for Offshore Safety to perform SEMS audits</li>
    </ul>
  </div>
  <div><img src="/img/Audit_page_image_1.jpg" /></div>
  <div>
    <br />
    <ul>
      <li>Internal Audits</li>
      <ul>
        <li>Subpart O Well Control / Training System Audits</li>
        <li>Internal / Contractor Gap Analysis</li>
        <li>Process Safety Management Audits</li>
      </ul>
    </ul>
  </div>
</div>
