<div class="grid grid-cols-1 md:grid-cols-2 gap-2">
  <div><img src="/img/audit_page_image_2.jpg" /></div>
  <div>
    <br />
    <ul>
      <li>Independent 3rd Party Audits</li>
      <ul>
        <li>Audit Service Provider authorized by the BSEE (The Center for Offshore Safety)</li>
        <li>Safety Management System audits (client SMS, ISO 45001, ISO 14001, etc.)</li>
      </ul>
    </ul>
  </div>
  <div><img src="/img/Audit_page_image_1.jpg" /></div>
  <div>
    <br />
    <ul>
      <li>Training management systems</li>
      <ul>
        <li>Subpart O Audits – API RP 75 and 30 CFR 250 § O</li>
      </ul>
    </ul>
  </div>
</div>
